@import "variables";
@import "mixins";

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    text-align: center;

    padding: 40px 40px;
    margin-top: 60px;
    border: 1px solid white;
    border-radius: 10px;

    .form-title {
      color: white;
    }

    .input-field {
      margin-top: 30px;
      margin-bottom: 10px;
      width: $input-field-width;
      height: $input-field-height;
      background: $body-bg;
      opacity: 10;
      border: none;
      border-bottom: 1px solid white;
    }

    .forget-password {
      color: $primary-color;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .login-and-signup-field {
      //TODO feedback: 嵌套层次太深了，一般2层，最多3层
      .wide-login-button {
        @include button-style(
          $wide-button-horizontal-padding,
          $primary-color,
          $body-bg
        );
        margin: 10px auto;
      }
      .wide-signup-button {
        @include button-style(
          $wide-button-horizontal-padding,
          $white,
          $primary-color
        );
        margin: 10px auto;
      }
    }
  }
}
